language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script:
 - lettuce
 - py.test
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
env: DATABSE_URL="dbname=travis_ci_test user=postgres"
